/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.5em;
	font-weight: 500;
}

main > .tagline {
	font-size: 1rem;
	margin: 1rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 8px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}
.container {
  display: flex;
  flex-fow: row wrap;
}

.item {
  flex: 1 auto;
}

/* For display purposes */

body {
  font-family: sans-serif;
}

body > .container {
  /* for display purposes*/
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.5px solid #ccc;
}

body > .item {
   /* for display purposes*/
  padding: 1rem;
  margin: 0.5rem;
  background: #efefef;
}